.userCmpt {
  display: flex;
  padding: 16px;
  align-items: center;
}

.userCmpt.dark {
  background: #000;
  color: #fff;
}


.userCmpt img {
  height: 64px;
  width: 64px;
  border-radius: 50%;
  object-fit: contain;
  border: 1px solid #ccc;
}


.userCmpt .information {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px;
}


.userCmpt .information > div:first-child {
  font-weight: 500;
}

.userCmpt .information > div + div {
  opacity: 0.5;
  margin-top: 4px;
}




