.App {
}

.emLoading {
  pointer-events: none;
  position: relative;
  transition: all ease 0.2s;
}

.emLoading > * {
  filter: blur(2px);
}

.emLoading:after {
  height: 48px;
  width: 48px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto auto;
  content: ' ';
  display: block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 3px solid var(--em-primary);
  border-color: var(--em-primary) transparent var(--em-primary) transparent;
  animation: lds-dual-ring 0.6s linear infinite;
}
